ProjetoPAF-2.05/ReducaoZ.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:app1="http://www.w3.org/2000/09/xmldsig#">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
  <xs:element name="ReducaoZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Mensagem">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Estabelecimento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="IeType" name="Ie"/>
                    <xs:element type="CnpjType" name="Cnpj"/>
                    <xs:element type="String1a4000Type" name="NomeEmpresarial"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PafEcf">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NumeroCredenciamento">
                      <xs:simpleType>
                        <xs:restriction base="xs:token">
                          <xs:pattern value="[0-9]{1,15}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="String1a4000Type" name="NomeComercial"/>
                    <xs:element type="String1a20Type" name="Versao"/>
                    <xs:element type="CnpjType" name="CnpjDesenvolvedor"/>
                    <xs:element type="String1a4000Type" name="NomeEmpresarialDesenvolvedor"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Ecf">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="String1a15Type" name="NumeroCredenciamento"/>
                    <xs:element type="String1a4000Type" name="NumeroFabricacao"/>
                    <xs:element type="String1a4000Type" name="Tipo"/>
                    <xs:element type="String1a4000Type" name="Marca"/>
                    <xs:element type="String1a4000Type" name="Modelo"/>
                    <xs:element type="String1a4000Type" name="Versao"/>
                    <xs:element type="Numero1a9Type" name="Caixa"/>
                    <xs:element name="DadosReducaoZ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:date" name="DataReferencia"/>
                          <xs:element type="xs:dateTime" name="DataHoraEmissao"/>
                          <xs:element type="Numero4Type" name="CRZ"/>
                          <xs:element type="Numero6ou9Type" name="COO"/>
                          <xs:element type="Numero3Type" name="CRO"/>
                          <xs:element type="Numero14Type" name="VendaBrutaDiaria"/>
                          <xs:element type="Numero18Type" name="GT"/>
                          <xs:element name="TotalizadoresParciais">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TotalizadorParcial"  minOccurs="1" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="String1a4000Type" name="Nome"/>
                                      <xs:element type="Numero1a9Mais2PrecisaoType" name="Valor"/>
                                      <xs:element name="ProdutosServicos">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Produto" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="String1a4000Type" name="Descricao"/>
                                                  <xs:element type="String1a4000NullableType" name="CodigoGTIN" />
                                                  <xs:element type="String1a4000NullableType" name="CodigoCEST" />
                                                  <xs:element type="String1a4000Type" name="CodigoNCMSH" />
                                                  <xs:element type="String1a4000Type" name="CodigoProprio" />
                                                  <xs:element type="Numero7Mais0a6dePrecisaoType" name="Quantidade"/>
                                                  <xs:element type="String1a4000Type" name="Unidade"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorDesconto"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorAcrescimo"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorCancelamento"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorTotalLiquido"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Servico" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="String1a4000Type" name="Descricao"/>
                                                  <xs:element type="String1a4000Type" name="CodigoProprio" />
                                                  <xs:element type="Numero7Mais0a6dePrecisaoType" name="Quantidade"/>
                                                  <xs:element type="String1a4000Type" name="Unidade"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorDesconto"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorAcrescimo"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorCancelamento"/>
                                                  <xs:element type="Numero1a20Mais2PrecisaoType" name="ValorTotalLiquido"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="app1:Signature" />
      </xs:sequence>
      <xs:attribute type="String1a10Type" name="Versao"/>
    </xs:complexType>
  </xs:element>

  <!-- Ie -->
  <xs:simpleType name="IeType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,20}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Cnpj -->
  <xs:simpleType name="CnpjType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 1 a 9 -->
  <xs:simpleType name="Numero1a9Type">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,9}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 1 a 9, mais 2 de precisão -->
  <xs:simpleType name="Numero1a9Mais2PrecisaoType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,9},[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 4 -->
  <xs:simpleType name="Numero4Type">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 6 ou 9 -->
  <xs:simpleType name="Numero6ou9Type">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{6}|[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 3 -->
  <xs:simpleType name="Numero3Type">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 14 -->
  <xs:simpleType name="Numero14Type">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 18 -->
  <xs:simpleType name="Numero18Type">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{18}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 7 mais 0 a 6 de precisão -->
  <xs:simpleType name="Numero7Mais0a6dePrecisaoType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,7}(,[0-9]{1,6})?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- String com length min de 1 e max de 10 -->
  <xs:simpleType name="String1a10Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- String com length min de 1 e max de 10 -->
  <xs:simpleType name="String1a15Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- String com length min de 1 e max de 20 -->
  <xs:simpleType name="String1a20Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- String com length min de 1 e max de 4000 -->
  <xs:simpleType name="String1a4000Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- String com length min de 1 e max de 4000, nullable -->
  <xs:simpleType name="String1a4000NullableType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Número 1 a 20, mais 2 de precisão -->
  <xs:simpleType name="Numero1a20Mais2PrecisaoType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,20},[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>